HOST=0.0.0.0
PORT=8080
REDIS_HOST=redis
REDIS_PORT=6379
CLOUDFRONT_DOMAIN=d1234567890.cloudfront.net

# S3 Configuration
S3_BUCKET=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BASE_PATH=jetapi